body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

h1, h2, h3 {
  color: #0e0101;
}

button {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #f02626;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  background-color: #ddd;
}
